#titulo{
    color: #f8f8ff;
    font-weight: bold;
    text-align: center;
    margin-top:6rem;
}
html{
    font-size: 93.75%;/* O tamanho da fonte padrão no navegador é de 16px, então se 100% são 16px, 93.75% são 15px por regra de 3*/
}
body{
    background-image: linear-gradient(to bottom, #9f00ed, #7600a9);
    /*background: #8600c6;*/
    font-family:'Hind Guntur', sans-serif;
    color: #7600a9;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.form-hide{
    animation-name: down;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;/*O forwards faz com que o campo encerre na posição final(100vh) definida pelo transform no keyframe move_down*/
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); /* formas de configurar o movimento: usando o cubic-bezier(), ou o ease-in/ease-out/ease-in-out, ou usando o steps(2) onde esse dois é o número de passos e pode ser qlqer qtd de passos*/
}

#formulario{
    margin-left: auto;
    margin-right:auto;    
    display: flex; 
    justify-content: center;
    margin-top:6rem;
    margin-bottom: 4rem ; 
    height: 38vh;
}
form{
    background: #f8f8ff;
    padding: 4rem;
    border-radius: 0.5rem;  
    animation-name: fade;
    animation-duration: 0.2s;
    width:min(50vw,500px);
    overflow: hidden; /*Esconde tudo que estrapolar para fora desse campo*/  
    
}

#foot{
    color:#f8f8ff;
    /*position:asolute*/    
    /*bottom: 2rem;
    right: 2rem;*/
    width: min(62vw,600px);
    margin-left: auto;
    margin-right:auto;
    justify-content:left;
    /*border: 1px solid;*/
    
}
#byMe{
    /*border: 1px solid;*/
    text-align: right;
    margin-left: min(50%,100%);
}
input{
    border: 0.5px solid #e5e5e5;
    width: 100%;
    padding:0.5rem;

}

.input-group{
    margin-top: 0.8rem;
    width:90%;
    justify-content: center;
    
}
.input-group:nth-child(1){
    animation-name: move;
    animation-duration: 1s;
    animation-delay: 0.1s;
}
.input-group:nth-child(2){
    animation-name: move;
    animation-duration: 1s;
    animation-delay: 0.25s;
    animation-fill-mode: backwards; /*O backwards faz com que o campo espere na posição -80% definida pelo transform no keyframe move*/
}
.input-group:nth-child(3){
    animation-name: move;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: backwards; /*O backwards faz com que o campo espere na posição -80% definida pelo transform no keyframe move*/
}
.action{
    margin-top: 1.3rem;
    text-align: center;
}
button{
    background:  #7600a9;
    color:#f8f8ff;
    border: none;
    cursor: pointer;
    width: 40%;
    height: 2rem;
    border-radius:1rem;
    padding: 0;
    display:inline-block;
}
button:hover{
    background: #8600c6;
}
.squares li{
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite;
    /*animation-direction: alternate;*/
}
@keyframes up{/*Quadradinhos movimento*/
    from {
        opacity: 0;
        transform: translateY(0) rotate(960deg); /*o rotate faz o quadrado rodar*/
    }
    50%{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateY(-1100px);
    }
}
/*APARIÇÃO FADE NO FORMULÁRIO*/
@keyframes fade{
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

/*APARIÇÃO DA ESQUERDA PARA DIREITA DOS CAMPOS DO FORMULÁRIO*/
@keyframes move{
    from {
        opacity: 0;
        transform: translateX(-80%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

/*FAZENDO O FORMULÁRIO SUMIR, INDO PARA BAIXO, QUANDO APERTAR NO BOTÃO LOGIN*/
@keyframes down{
    from {
        transform: translateY(0);
    }
    to{
        transform: translateY(100vh);
    }
}

/*FAZENDO O FORMULÁRIO BALANÇAR NO MOVIMENTO "NO NO"*/
form.validate-error{
    animation:nono, fade paused;
    animation-duration:0.2s ;
    /*animation-play-state: fade paused; Para não aparecer o fade. PARA FUNCIONAR TEM QUE USAR IMENDADO COMO TÁ ALI NO ANIMATION*/
    animation-iteration-count: 2;
    animation-timing-function: linear; /*Para nãoa dar uma travada no movimento pros lados e o movimento ficar suave*/
}
@keyframes nono{
    0%{
        transform: translateX(0);
    }
    35%{
        transform: translateX(-5%);
    }
    70%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(0);
    }
}

/*
animation-name: nome; --->nome da animação
animation-duration: 2s; --->duração total da animação
animation-delay: 3s; --->tempo para a animação iniciar
animation-fill-mode:none; --->em que momento a animação para, inicial ou final
animation-play-state:running; --->determina se a animação vai estar rodando ou se vai dar um pause
animation-timing-function:ease; ---> determina a progressão da animação
animation-direction:reverse; ---> direção da animação, cima, baixo ... ou alternado (alternate, que vai pra cima e pra baixo) 
animation-iteration-count: infinite; --->determina as iterações da animação, infinite determina que a animação se repete sempre

https://matthewlein.com/tools/ceaser site para criar cuic-bezier timming
*/